body {
    /* background-color: #f1f1f1 !important; */
    background: -webkit-linear-gradient(-45deg, #2b5876 , #4e4376);
}

.maps-container {
    /* width: 80%; */
    margin: 0 auto;
    padding: 1em;
}

.request-info {
    padding: 1em;
}

.request-info .header-request {
    width: 230px;
    background-color: white;
    font-weight: bolder;
    font-size: 2em;
    border-radius: 16px;
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 0 5px 20px rgba(25,17,34,0.1);
}

.request-info .info-container {
    background-color: white;
    border-radius: 16px;
    padding: 2em;
    box-shadow: 0 5px 20px rgba(25,17,34,0.1);
    margin-top: 1em;
    height: 500px;
}

.request-info .info-container .request-table {
    height: 436px;
    overflow-y: scroll;
}

.request-info .info-container .info-badge {
    margin-right: 8px;
    padding: 8px 16px;
    font-size: 16px;
}

.info-container .detail-infor {
    font-size: 1.25em;
}

.App {
    max-width: 1140px;
    margin: 0 auto;
}

.skeleton-container {
    line-height: 30px;
}

.skeleton-container .long {
    width: 90%;
}

.skeleton-container .short {
    width: 70%;
}